form {

    .double-grid {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .double-grid-1-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }

    .quad-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;
    }

    label {
        display: block;
        color: var(--text-body);
        font: 400 var(--body-sm);
    }

    .required {

        & .danger {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin-top: .5rem;

            & span {
                color: var(--feedback-danger);
                font: var(--body-xs);
            }

            img {
                height: 1rem;
                width: 1rem;
            }

        }

        & input {
            &:invalid {
                border: 1px solid var(--feedback-danger);
            }

            &:focus-within {
                border: none;
            }

            &:valid + .danger, &:focus-within + .danger {
                    display: none;
            }
        }
    }


    input:not([type="radio"]):focus-within, textarea:focus-within {
        outline: 1px solid var(--brand-light);
    }

    .border-fields, input:not([type="radio"], [type="checkbox"]), textarea {
        margin-top: .75rem;
        width: 100%;
        height: 3rem;
        border-radius: .5rem;
        border: .125rem solid var(--input-stroke);
        background-color: var(--input-base);
    }

    /* All minus radio and checkbox */
    input:not([type="radio"], [type="checkbox"]), textarea {
        color: var(--input-placeholder);
        font: 400 var(--body-md);
        padding: 1rem;
    }

    input[type="datetime-local"] {
        text-transform: uppercase;
        color: var(--input-placeholder);
        font: 400 var(--body-md);
    }

    div[id="local-type"] {

        div[id="choose-inperson"], div[id="choose-local"] {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            position: relative;

            & input, & input:hover, & input:focus {
                position: absolute;
                appearance: none; 
                height: 3rem;
                width: 100%;
                cursor: pointer;
            }

            &:has(:checked) {
                background-color: var(--shape-button);
                border-radius: .25rem;
                margin: .25rem;
    
                img[id="inperson"] {
                    content: url(../assets/icons/building-selected.svg);
                }

                img[id="local"] {
                    content: url(../assets/icons/video-selected.svg);
                }
            }
        }
    }

    div[id="description"] {
        textarea {
            width: 100%;
            resize: none;
            height: 8.5rem;
        }
    }

    div[id="colors"] {
        display: flex;
        justify-content: space-between;
        gap: .75rem;
        margin-block: 1rem 1.75rem;

        .content-radio {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: var(--shape-button);

            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            
            & .color-radio {
                position: absolute;

                width: 2rem;
                height: 2rem;
                border-radius: 50%;

                & input, & input:hover, & input:focus {
                    appearance: none;

                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }

            &:has(:checked) {
                outline: .125rem solid var(--brand-light);
            }

            &:hover, &:focus-within {
                background-color: var(--shape-hover);
            }

            div > input {
                border-radius: 50%;

                /* colors */
                &[value="brand-light"] {
                    background-color: var(--brand-light);
                }
                &[value="navy"] {
                    background-color: var(--accent-navy);
                }
                &[value="purple"] {
                    background-color: var(--accent-purple);
                }
                &[value="fuschia"] {
                    background-color: var(--accent-fuschia);
                }
                &[value="pink"] {
                    background-color: var(--accent-pink);
                }
                &[value="danger"] {
                    background-color: var(--feedback-danger);
                }
                &[value="orange"] {
                    background-color: var(--accent-orange);
                }
                &[value="yellow"] {
                    background-color: var(--accent-yellow);
                }
                &[value="lime"] {
                    background-color: var(--accent-lime);
                }
                &[value="green"] {
                    background-color: var(--accent-green);
                }
                &[value="cyan"] {
                    background-color: var(--accent-cyan);
                }
            }
        }
    }

    

    div[id="theme"] {
        margin-top: 1rem;

        .theme-card {
            background-color: var(--shape-button);
            border-radius: .5rem;
            position: relative;
            display: grid;
            align-items: center;

            & img {
                border-radius: .25rem;
                margin: .25rem;
                width: 95%;
                object-fit: cover;
            }

            label {
                font: 400 var(--body-sm);
                color: var(--text-heading);
                display: block;
                margin-inline: auto;
                margin-block: .25rem .5rem;
            }

            & input {
                appearance: none;
                position: absolute;
                cursor: pointer;
                width: 100%;
                height: 100%;

            }

            &:hover, &:focus-within {
                background-color: var(--shape-hover);
            }

            &:has(:checked) {
                outline: 2px solid var(--brand-light);
            }
        }
    }

    div[id="bright-upload"] {
        margin-top: 1.75rem;

        div[bright] {

            & label {
                color: var(--text-body);
            }

            & div[chooser] {
                margin-top: .75rem;

                display: flex;
                align-items: center;
                gap: .75rem;

                & span {
                    font: 400 var(--body-sm);
                    color: var(--text-heading);
                }

                .claro {
                    display: none;
                }

                &:has(:checked) {
                    & .escuro {
                        display: none;
                    }
                    & .claro {
                        display: unset;
                    }
                }

                div[check] {
                    background-color: var(--input-base);
                    width: 4rem;
                    height: 2rem;
                    border-radius: 1rem;
                    border: 1px solid var(--input-stroke);

                    display: grid;
                    align-items: center;

                    position: relative;

                    & input {
                        position: absolute;
                        
                        all: unset;
                        height: 1.5rem;
                        width: 1.5rem;
                        background-color: var(--input-stroke);
                        border-radius: 50%;
                        margin: .25rem;
                        cursor: pointer;
                    }

                    &:has(:checked) {
                        background-color: var(--brand-light);
                        & input {
                            background-color: var(--text-heading);
                            justify-self: end;
                        }
                    }
                }
            }
        }

        div[upload] {
            display: flex;
            flex-direction: column;

            color: var(--text-body);
            font: 400 var(--body-sm);

            div[docfile] {
                margin-top: .75rem;

                display: flex;
                vertical-align: bottom;
                
                position: relative;

                label[select] {
                    position: absolute;
                    
                    z-index: 1;
                    background-color: var(--shape-button);
                    height: 2.5rem;
                    
                    display: flex;
                    align-items: center;
                    padding: .75rem;
                    gap: .5rem;

                    border-radius: .5rem;
                
                    font: 400 var(--body-sm);
                    color: var(--text-heading);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--shape-hover);
                        
                        img {
                            content: url(../assets/icons/upload-selected.svg);
                        }
                    }
                }
                
                input { 
                    all: unset;

                    margin-top: .5rem;
                    width: 65%;
                    margin-left: auto;
                    
                    font: 400 var(--body-md);
                    color: var(--input-placeholder);
                    
                    &::file-selector-button {
                        display: none;
                    } 
                }
            }
        }
    }

    div[id="checks"] {
        padding-top: 2rem;
        display: grid;
        gap: .5rem;

        .align {
            display: flex;
            align-items: center;
            gap: .75rem;
        }

        .box {
            background-color: var(--input-base);
            position: relative;
            height: 1.25rem;
            width: 1.25rem;
            border: 1px solid var(--input-stroke);
            border-radius: .25rem;

            & input {
                all: unset;
                appearance: none;
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            &:has(:checked) {
                border: 1px solid var(--brand-light);
                border-radius: .25rem;
                background-image: url(../assets/icons/check.svg);
                background-size: cover;
            }
        }

        label {
            font: 400 var(--body-sm);
            color: var(--text-body);

            a {
                color: var(--brand-light);
            }
        }
    }

    div[id="send"] {
        margin-top: 3rem;
        margin-left: auto;
            
        background-color: var(--brand-dark);
        border-radius: .5rem;
    
        display: flex;
        align-items: center;
        gap: .75rem;
        padding: .75rem 1.25rem;
        
        cursor: pointer;
        
        & img {
            height: 1.25rem;
            width: 1.25rem;
        }

        & button {
            all: unset;
            font: 500 var(--body-md);
            color: var(--text-heading);
        }

        &:hover {
            background-color: var(--brand-mid);
        }
    }
}
