#footer{
    height: 787px;

    background-image: url('../assets/Background_Contacts.png');
    background-size: cover;

    #title{
        text-align: center;

        h2{
            color: var(--purple);
        }

        h3{
            margin-top: 8px;
            color: var(--gray-600);
        }

        p{
            font: var(--text-md);
        }
    }

    #social{
        padding-top: 48px;

        display: flex;
        flex-direction: column;
        gap: 16px;

        li{
            min-width: 400px;
            background-color: var(--gray-300);
            padding: 20px;
            border-radius: 8px;

            a{
                text-decoration: inherit;

                font: var(--text-sm);
                color: var(--gray-500);

                display: flex;
                align-items: center;
                gap: 12px; 

                span{
                    margin-right: auto;
                }
            }
        }
    }
}