#header{
    height: 750px;
    
    background-image: url('../assets/Background_Intro.png');
    background-size: cover;

    /* centralize all header content */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #profile{
        width: 96px;
        height: 96px;
        /* outside profile border  */
        border: 3px solid var(--red);
        border-radius: 50%;
        /* padding to profile img */
        padding: 5px;
        /* required for absolute positioning below  */
        position: relative;
        /* </> position */
        img:first-child{
            position: absolute;
            bottom: -8px;
            right: -8px;
        }
        /* profile img */
        img:last-child{
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    #description{
        padding-top: 56px;
        width: 680px;
        text-align: center;

        span{
            font: var(--subtitle);
            &>strong{
                color: var(--red);
                font-weight: 400;
            }
        }

        h1{
            color: var(--gray-600);
            font: var(--title-lg);
        }

        p{
            color: var(--gray-400);
        }
    }

    #skills{
        font: var(--text-md);

        padding-top: 80px;
        display: flex;

        gap: 16px;
        
        li{
            display: flex;
            align-items: center;

            background-color: var(--gray-300);
            border-radius: 80px;
            padding: 8px 16px;

            gap: 8px;

            img{
                width: 24px;
            }
        }
    }
}