#portfolio{
    height: 917px;

    #title{
        text-align: center;

        h2{
            font: var(--subtitle);
            color: var(--red);
        }

        h3{
            font: var(--title-md);
            color: var(--gray-600);
        }
    }
    
    #projects{
        padding-top: 56px;

        display: grid;
        grid-template-columns: repeat(3, 330px);
        gap: 1.5rem;

        li{
            background-color: var(--gray-300);
            width: 330px;
            height: 280px;
            
            border-radius: 12px;

            padding-left: 12px;
            padding-right: 12px;
            padding-top: 16px;

            &:hover{
                outline: 2px solid var(--gray-400);
            }

            a{
                width: 100%;

                img{
                    width: 100%;
                    border-radius: 8px;
                }

                div{
                    padding-top: 20px;
                    h4{
                        font: var(--title-sm);
                        color: var(--gray-600);
                    }
                    p{
                        padding-top: 8px;
                        font: var(--text-sm);
                        color: var(--gray-500);
                    }
                }
            }
        }
    }
}